
@font-face {
  font-family: 'Comforter Brush', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
  font-style: normal;
}


 /* Style for popup container */
 .popup {
  position: relative;
  background-color: #fff;
  padding: 20px;
  max-width: 500px;
  max-height: 500px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-family: 'Comforter Brush', cursive;/* Set font family for the popup */
}
body {
  background-image: url("../Img/bluepaper.png"); /* dark blue textured background */
  background-repeat: repeat;
  background-size: auto;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 43, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
/* Style for close button */
.popup .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.container {
  position: relative;
  background-image: url(../Img/nomidlogo.png);
  background-size: cover;
  background-position: center;
  height: 500px; /* Set the height of the container to the desired value */
}

.typewriter {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-right: .15em solid rgb(81, 53, 2);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 6.5s steps(30, end), blink-caret .75s step-end infinite;
  font-size: 48px;
  color: rgb(113, 75, 4); /* Set the color of the text to make it visible on top of the image */
  font-family: 'Comforter Brush', cursive;
}




/* Style for form */
.popup form {
  display: flex;
  flex-direction: column;
  font-family: 'Comforter Brush', cursive;
}
.menu {
  position: fixed; /* fixed menu bar */
  top: 0;
  right: 0;
  background-color: #162D59;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

/* Style for form input */
.popup form input[type="email"] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.typewriter {
  overflow: hidden; /* Ensures the text is not shown outside the box */
  border-right: .15em solid rgb(81, 53, 2); /* The typewriter cursor */
  white-space: nowrap; /* Keeps the text on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 6s steps(30, end),
    blink-caret .75s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #162D59 }
}

.menu {
  position: fixed; /* fixed menu bar */
  top: 0;
  right: 0;
  background-color: #162D59;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}
.myDiv {
  border: 40px double #FFF9F2;
  background-color:#162D59;    
  text-align:center;
}

body {
  background-image: url("../Img/bluepaper.png"); /* dark blue textured background */
  background-repeat: repeat;
  background-size: auto;
}

.logo {
  position: fixed; /* stationary logo at the top */
  top: 0;
  left: 0;
  padding: 20px;
}

.menu {
  position: fixed; /* fixed menu bar */
  top: 0;
  right: 0;
  background-color: #AB9685;
  padding: 20px;
  color: #735240;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

.menu a {
  color: #735240;
  text-decoration: none;
  margin-right: 20px;
}

#video-container {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

#video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*delay popup*/

function delayPopup() {
  setTimeout(function() {
    window.open('../Pages/index.html', '_blank', 'width=500,height=500');
  }, 15000); // delay for 15 seconds
}


/* Style for popup overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 43, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Style for popup container */
.popup {
  position: relative;
  background-color: #fff;
  padding: 20px;
  max-width: 500px;
  max-height: 500px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Style for close button */
.popup .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

/* Style for form */
.popup form {
  display: flex;
  flex-direction: column;
}

/* Style for form input */
.popup form input[type="email"]



* {
  box-sizing: border-box;
  margin: 10;
  padding: 10;
}


body {
background: rgb(7,16,64);
background: linear-gradient(103deg, rgba(7,16,64,1) 10%, rgba(191,163,147,1) 59%);
  /* Sets the background to a linear gradient using palette */
  height: 100%;
  margin: 0;
  padding: 0;
}





nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  color: #FACF7F;
  text-decoration: none;
}

main {
  margin: 0 auto;
  padding: 20px;
  }
  
  section {
  margin-bottom: 40px;
  }
  
  section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  }
  
  .artwork {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  }
  
  .artwork img {
  max-width: 100%;
  }
  

  .artwork p {
  text-align: center;
  margin-bottom: 20px;
  }
  
  footer {
    position: fixed;  
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
  background-color: #333;
  color: #FFF9F2;
  text-align: center;
  padding: 20px;
  }


  

  
  footer p {
  font-size: 0.8rem;
  }
  
  @media screen and (max-width: 768px) {
  header {
  flex-direction: column;
  align-items: flex-start;
  }
  
  nav {
  margin-top: 20px;
  }
  
  nav ul {
  flex-direction: column;
  }
  
  nav ul li {
  margin-right: 0;
  margin-bottom: 10px;
  }
  
  main {
  padding: 20px 10px;
  }
  
  .artwork {
  margin-bottom: 20px;
  }
  
  .artwork h3 {
  font-size: 1.2rem;
  }
  
  footer {
  padding: 5px;
  }
  
  footer p {
  font-size: 0.7rem;
  }
}
  width p {
  max-width: 1200px}

/* Apply a hover effect to all anchor tags within the header */
header a:hover {
  color: #BFA393;
  }
  
  /* Apply an active effect to the currently selected anchor tag in the header */
  header a:active {
  background-color: #3F2E40;
  color: #BFA393;
  }
  
  /* Apply a visited effect to previously selected anchor tags in the header */
  header a:visited {
  color: #071040;
  }
  
  /* Apply a first-line style to the first line of each paragraph within the main section */
  main p:first-line {
  font-weight: bold;
  text-transform: uppercase;
  }
  
  /* Apply a hover effect to all images within the gallery section */
  #gallery img:hover {
  border: 4px solid #071040;
  opacity: 0.8;
  }
  
  /* Apply a hover effect to all headings within the gallery section */
  #gallery h3:hover {
  color: #BFA393;
  }
  
  /* Apply a hover effect to all paragraphs within the gallery section */
  #gallery p:hover {
  color: #3F2E40;
  font-weight: bold;
  }
  
  /* Apply a visited effect to previously selected headings within the gallery section */
  #gallery h3:visited {
  color: #071040;
  }
  
  /* Apply a visited effect to previously selected paragraphs within the gallery section */
  #gallery p:visited {
  color: #3F2E40;
  }
  
  /* Apply a hover effect to all links within the footer section */
  footer a:hover {
  color: #BFA393;
  }
  
  /* Apply a visited effect to previously selected links within the footer section */
  footer a:visited {
  color: #071040;
  }
  
  //* Apply a hover

/* Add a hover effect to the submit button in the contact form */
form input[type="submit"]:hover {
  background-color: #3F2E40;
  color: #BFA393;
  cursor: pointer;
  }
  
  /* Apply a style to the success message in the contact form */
  .success-message {
  background-color: #D3967C;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  }
  
  /* Apply a style to the error message in the contact form */
  .error-message {
  background-color: #B33E3A;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  }

   body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    }
    
    body {
    background: rgb(7,16,64);
    background: linear-gradient(103deg, rgba(7,16,64,1) 10%, rgba(191,163,147,1) 59%);
    /* Sets the background to a linear gradient using palette */
    height: 100%;
    }

  
  @font-face {
    font-family: 'sedgewick';
    src: url('/Fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap');
  /* Apply a hover effect to the submit button in the contact form */
  form input[type="submit"]:hover {
  background-color: #3F2E40;
  color:#BFA393
  }

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

body {
  background: rgb(89,25,2);
  background: linear-gradient(90deg, rgba(89,25,2,1) 17%, rgba(211,150,127,1) 46%, rgba(250,207,127,1) 84%);
  /* Sets the background to a linear gradient using palette */
  height: 100%;
  margin: 0;
  padding: 0;
}


/* Draw a border 2px thick around ONLY the h3 element. */
#artwork-title {
  font-size: 1.5rem;
  margin: 20px 0;
  border: 2px solid rgba(250,207,127,1);
  /* Set a unique background color. */
  background-color: rgba(211,150,127,1);
}


header {
  background-color: #f8f4f4;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
h2 {
  font-family: 'sedgewick', sans-serif;
  font-size: 2em;
  color: #0D0D0D;
  text-align: center;
  margin: 0.2em;
  color: #BFA393;
}
ul {
  font-family: 'sedgewick', sans-serif;
}
p {
  font-family: 'sedgewick', sans-serif;
  font-size: 2em;
  color: #0D0D0D;
  text-align: center;
  margin: 0.2em;
  color: #BFA393;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  color: #FACF7F;
  text-decoration: none;
}

main {
  margin: 0 auto;
  padding: 20px;
  }
  
  section {
  margin-bottom: 40px;
  }
  
  section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  }
  
  .artwork {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  }
  
  .artwork img {
  max-width: 100%;
  }
  

  .artwork p {
  text-align: center;
  margin-bottom: 20px;
  }
  
  footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  }
  
  footer p {
  font-size: 0.8rem;
  }
  
  @media screen and (max-width: 768px) {
  header {
  flex-direction: column;
  align-items: flex-start;
  }
  
  nav {
  margin-top: 20px;
  }
  
  nav ul {
  flex-direction: column;
  }
  
  nav ul li {
  margin-right: 0;
  margin-bottom: 10px;
  }
  
  main {
  padding: 20px 10px;
  }
  
  .artwork {
  margin-bottom: 20px;
  }
  
  .artwork h3 {
  font-size: 1.2rem;
  }
  
  footer {
  padding: 10px;
  }
  
  footer p {
  font-size: 0.7rem;
  }
}
  width p {
  max-width: 1200px}

 
  .myDiv {
    border: 40px #FFF9F2;
    background-color:#162D59    
    text-align; center:
  }
  
  div {
    text-align: center;
    font-family: Arial, Verdana, Tahoma;
    width: 100%;
  }
  
  /* Draw a border 4px thick around ONLY the h3 element. */
  .artwork-title {
    font-size: 1.5rem;
    margin: 40px;
    border: 4px solid #071040;
    /* Set a unique background color. */
    background-color: #3F4B59;
  }
  body {
    background: rgb(7,16,64);
    background: linear-gradient(103deg, rgba(7,16,64,1) 10%, rgba(191,163,147,1) 59%);
    /* Sets the background to a linear gradient from dark blue to linen */
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'sedgewick', sans-serif; /* Use the custom font for the whole page */
  }


  
  div {
    text-align: center;
    font-family: Arial, Verdana, Tahoma;
    width: 100%;
  }  

  #contact-form {
    font-family: Arial, sans-serif; /* change the font family here */
    font-size: 16px; /* change the font size here */
    font-weight: bold; /* change the font weight here */
    color: #ffffff; /* change the font color here */
  }
  
  #contact-form label {
    display: inline-block;
    width: 100px;
    text-align: center ;
    margin-right: 10px;
  }
  
  #contact-form input[type="text"],
  #contact-form input[type="email"],
  #contact-form textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: #152340;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #contact-form input[type="submit"] {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    color: #735240;
    background-color: #FFF9F2;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #contact-form input[type="submit"]:hover {
    background-color: #FFF9F2;
  }



/*photo slider*/
  .slider {
    width: 75%;
    height: 600px;
    position: relative;
    overflow: hidden;
    padding: 20px; /* Add 20 pixels of padding around the slider */
  }
  
  .slider img {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
  }

 
  
  img {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }
  
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .wrapper {
    display: flex;
    align-items: center; /* Align the items vertically */
  }
  
  .slider {
    flex: 1;
  }
  
  .content-box {
    flex: 1;
    background-color: #FFF9F2;
    padding: 10px;
    border: 1px solid #FFF9F2;
    border-radius: 5px;
    align-items: left; /* Align the items vertically */
    justify-content: left; /* Align the items horizontally */
  }


  
  img {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }
  
  .text-box {
    flex: 1;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  @media (max-width: 600px) {
    /* CSS rules for screens 600px or less */
    body {
      background-image: url("../Img/bluepaper.png");
      background-repeat: repeat;
      background-size: auto;
    }
    .menu {
      display: none;
    }
    .logo {
      text-align: left;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  
  

  
  